In [17]:
import numpy as np 
import pandas as pd

In [18]:
a = np.array([1,2,3,4,5])

In [19]:
print(a[0])

1

In [20]:
print(a)

[1 2 3 4 5]

In [32]:
cTup=(4,3,2,1,0)
cLst=[0,1,2,3,4]

def main(cTup, cLst):
    if cTup.index(2)==cLst[-3]:
        return True
    else:
        return False
print(main(cTup,cLst))

True

In [23]:
b=np.array([[1,2,3,4],
           [5,6,7,8]])
b.ravel()

array([1, 2, 3, 4, 5, 6, 7, 8])

In [24]:
a=np.array([9,10])
b=np.array([11,12])

print(np.dot(a,b))

219

In [ ]:
d=np.array([[1,2,3],
           [4,5,6],
           [7,8,9]])

print(d.shape)

In [ ]:
rInp=input()

def main(rInp):
    rStr=""
    for i in range(len(rInp)):
        rStr+=rInp[1-i]
    if rStr==rInp[::-1]:
        return rInp[::-1]
    else:
        return rStr
print(main(rInp))

In [ ]:
rI1=input()
rI2=input()

In [ ]:
try:
    print(len(rI1)/len(rI2), end=" ")
except:
    print("can not", end=" ")
finally:
    print("done")

In [ ]:
print

In [30]:
X=[[1,8,3],
  [6,5,4],
  [7,2,9]]

Y=[[9,2,7],
  [4,5,6],
  [5,10,5]]

res=[[0,0,0],
    [0,0,0],
    [0,0,0]]

for i in range(len(X)):
    for j in range(len(X[0])):
        res[i][j]=X[i][j]+Y[i][j]
for r in res:
    print(r,end=" ")

[10, 10, 10] [10, 10, 10] [12, 12, 14]

In [31]:
emp=pd.DataFrame({
    'Name':['John','Doe','Wil','Spa', 'Mark'],
    'Occ':['Ch', 'th','st', 'sc', 'dev'],
    'Age': [23,24,34,29,40]
})

emp.drop('Age', axis=1, inplace=True)
print(emp)

   Name  Occ
0  John   Ch
1   Doe   th
2   Wil   st
3   Spa   sc
4  Mark  dev